@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-size: 14px;
  background-color: hsl(0, 0%, 98%);
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

p {
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 3rem 5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.darkmode-container {
  font-size: 16px;
}

section {
  background-color: hsl(0, 0%, 98%);
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.search-input {
  width: 360px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: hsl(0, 0%, 52%);
}

.search-input form {
  width: 100%;
  display: flex;
}

.search-input-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  color: hsl(0, 0%, 52%);
}

.search-input input {
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  border: none;
}

.search-input .fas {
  font-size: 1rem;
  padding: 1rem;
}

.filter-input {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.filter-input select {
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 1rem;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-container {
  width: 350px;
  background-color: white;
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 8px;
  border-radius: 10px;
  line-height: 1.5;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-container img {
  width: 350px;
  max-width: 350px;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.info-font {
  font-weight: 300;
}
