/* Global properties */

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

body {
  font-size: 14px;
  background-color: hsl(0, 0%, 98%);
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

p {
  font-weight: 600;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 3rem 5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.site-title {
  cursor: pointer;
}

.darkmode-container {
  font-size: 16px;
}

@media only screen and (max-width: 650px) {
  header {
    padding: 1rem 2rem;
  }
  .site-title {
    font-size: 1.25rem;
  }
  .darkmode-container {
    font-size: 12px;
  }
}

/* Search & filter section */

section {
  background-color: hsl(0, 0%, 98%);
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
}

.search-input {
  width: 360px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: hsl(0, 0%, 52%);
}

.search-input form {
  width: 100%;
  display: flex;
}

.search-input-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  color: hsl(0, 0%, 52%);
}

.search-input input {
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  border: none;
}

.search-input .fas {
  font-size: 1rem;
  padding: 1rem;
}

.filter-input {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.filter-input select {
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  padding: 1rem;
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
    margin: 2rem;
    align-items: flex-start;
  }
  .search-input {
    width: 90%;
  }
  .filter-input {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  section {
    /* align-items: center; */
    margin: 1.5rem 0 0 1rem;
  }
  .search-input input {
    font-size: 1rem;
  }
}

/* Main display section */

main {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-container {
  width: 350px;
  background-color: white;
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 8px;
  border-radius: 10px;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-container img {
  width: 350px;
  max-width: 350px;
  height: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
}

.info-font {
  font-weight: 300;
}

@media only screen and (max-width: 400px) {
  main {
    margin-top: 1rem;
  }
  .card-container {
    margin-top: 2.5rem;
    max-width: 310px;
  }
  .card-container img {
    max-width: 310px;
  }
}

/* Details */

.details {
  width: 70vw;
  margin: 0 auto;
}

.details-back-btn {
  width: 150px;
  font-size: 20px;
  padding: 10px 30px;
  background-color: white;
  border: none;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

.fa-long-arrow-alt-left {
  margin: 0 8px;
}

.details-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.details-container img {
  width: 50%;
  height: 100%;
  max-width: 600px;
  max-height: 360px;
}

.details-info {
  margin-left: 5rem;
  line-height: 2;
  display: flex;
  flex-direction: column;
}

.details-info h3 {
  font-size: 2rem;
}

.details-border {
  margin-top: 2rem;
}

.details-langs {
  margin: 2px;
  padding: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}

.details-text {
  font-weight: 600;
}

.details-text span {
  font-weight: 300;
}

.details-border {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.border-title {
  font-weight: 600;
}

.border-country {
  background-color: white;
  border-radius: 2.5px;
  padding: 1.5px 2.5px;
  margin: 3.5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .details {
    width: 90vw;
  }
}

@media only screen and (max-width: 860px) {
  .details-container {
    flex-direction: column;
  }
  .details-container img {
    width: 80%;
  }
  .details-info {
    margin: 1rem;
  }
}
